body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/*============================================================================================== heading section ==============================================================================================*/
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

/* ============================================================================================== section-1 title ============================================================================================== */
.container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 4.5rem;
}

/*============================================================================================== section-1 Navbar-brand text ==============================================================================================*/
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/*============================================================================================== section-1 navbar items ==============================================================================================*/
.nav-item {
  padding: 0 18px;
}

/*============================================================================================== section-1 navbar links ==============================================================================================*/
.nav-links {
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

/*============================================================================================== section-1 download button ==============================================================================================*/
.download-button {
  margin: 5% 3% 5% 0;
}

/*============================================================================================== section-1 title image ==============================================================================================*/
.title-image {
  width: 21.875rem;
  transform: rotate(25deg);
  position: absolute;
  right: 30rem;
}

/*============================================================================================== section-2 features section ==============================================================================================*/
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

/*============================================================================================== section-2 heading 3 ==============================================================================================*/
.bold {
  font-weight: bold;
}

/*============================================================================================== section-2 paragraph ==============================================================================================*/
.thin {
  color: #8f8f8f;
  font-size: 1.2rem;
  width: 18.75rem;
  margin: auto;
}

/*============================================================================================== icons section-2 ==============================================================================================*/
.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

/*============================================================================================== icons hover  section-2 ==============================================================================================*/
.icon:hover {
  color: #ff4c68;
}

/*============================================================================================== section-3 testimonial Section ==============================================================================================*/
#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonials-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

/*============================================================================================== section-4 press ==============================================================================================*/
#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/*============================================================================================== section-5 pricing ==============================================================================================*/
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-card {
  padding: 3% 2%;
}

/*============================================================================================== section-5 icons color change ==============================================================================================*/
.wrong {
  color: #F00000;
}

.correct {
  color: #4CBB17;
}

/*============================================================================================== section-5 Media queries for responsiveness ==============================================================================================*/
@media (max-width: 1444px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/*============================================================================================== section-6 call to action ==============================================================================================*/
#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 3% 15% 0;
}

.h3-bold {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
}

/*============================================================================================== footer section ==============================================================================================*/
#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 0 2%;
}

.socials {
  margin: 20px 10px;
  color: #000;
}

.personal {
  font-family: 'Comforter Brush', cursive;
  font-size: 4rem;
}

/*============================================================================================== designed section in footer ==============================================================================================*/
.personal-link {
  text-decoration: none;
  color: #000;
}

.personal-link:hover {
  color: #800000;
}
